### ðŸ“¥ Download the Chinook Database
You can download the Chinook SQLite database from the following link:

[Download Chinook_Sqlite.sqlite](https://github.com/lerocha/chinook-database/raw/master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite)

After downloading, rename the file to `chinook.db` and place it in the same directory as this notebook.

# Chinook SQLite Database Exploration
This notebook explores the Chinook SQLite database using `pandas` and `sqlite3`. We read tables, perform basic joins, and analyze the number of albums per artist.

In [ ]:
import pandas as pd
import sqlite3 as sq3
import pandas.io.sql as pds

### Connect to the SQLite Database

In [ ]:
path = 'chinook.db'
con = sq3.Connection(path)
con

### List All Tables in the Database

In [ ]:
query = """
SELECT name FROM sqlite_master WHERE type='table';
"""
tables = pds.read_sql(query, con)
print(tables)

### Read `Album` Table

In [ ]:
query = """
SELECT *
FROM Album
"""
album_df = pds.read_sql(query, con)
album_df.head()

### Read `Artist` Table

In [ ]:
query = """
SELECT *
FROM Artist
"""
artist_df = pds.read_sql(query, con)
artist_df.head()

### Join `Album` and `Artist` Tables

In [ ]:
query = """
SELECT al.AlbumId, al.Title, ar.ArtistId, ar.Name
FROM Album AS al
INNER JOIN Artist AS ar ON al.ArtistId = ar.ArtistId
"""
joined_df = pds.read_sql(query, con)
joined_df.head()

### Count Albums per Artist

In [ ]:
query = """
SELECT ar.Name, COUNT(DISTINCT al.AlbumId) AS num_albums
FROM Album AS al
INNER JOIN Artist AS ar ON al.ArtistId = ar.ArtistId
GROUP BY ar.Name
ORDER BY num_albums DESC
"""
album_counts_df = pds.read_sql(query, con)
album_counts_df.head()

### Read Data in Chunks

In [ ]:
query = """
SELECT ar.Name, COUNT(DISTINCT al.AlbumId) AS num_albums
FROM Album AS al
INNER JOIN Artist AS ar ON al.ArtistId = ar.ArtistId
GROUP BY ar.Name
"""

observations_generator = pds.read_sql(query, con, chunksize=5)

for index, observation in enumerate(observations_generator):
    if index < 5:
        print(f'Observations index: {index}')
        display(observation)